<div class="parent-container">
 <div class="form-group">
    <input type="text" id="search" placeholder="Search...">
  </div>
<div class="container">

 
  <h1>Log Collection</h1>


  <div class="form-group">
    <label for="logType">Select the logs you want:</label>
    {{#dropdown-list as |selectedOption|}}
<select id="logType" onchange={{action (mut this.selectedLogType) value="target.value"}}>
          <option value="">Select Log Type</option>
        <option value="Application">Application Logs</option>
        <option value="Security">Security Logs</option>
        <option value="System">System Logs</option>
      </select>
    {{/dropdown-list}}
  </div>

  <div class="form-group">
    <label>Fields Needed</label>
    <ul class="checkbox-list">
      <li>
        {{input id="timegenerated" type="checkbox" checked=this.showTimestamp}}
        <label for="timegenerated">Timestamp</label>
      </li>
      <li>
        {{input id="eventcode" type="checkbox" checked=this.showEventCode}}
        <label for="eventcode">Event Code</label>
      </li>
      <li>
        {{input id="sourcename" type="checkbox" checked=this.showSourcename}}
        <label for="sourcename">Source Name</label>
      </li>
      <li>
        {{input id="message" type="checkbox" checked=this.showMessage}}
        <label for="message">Message</label>
      </li>
      
    </ul>
  </div>

  <div class="form-group buttons-container">
<button class="btn" {{on "click" this.fetchLogs}}>Sync</button>
  </div>
</div>
</div>